### Requirements:

	1- spacy
	2- pandas
	3- ur_model for SpaCy


### Install ur_model 

	1- Point the current directory to extracted folder and install "ur_model" as follow:
		pip install ur_model-0.0.0.tar.gz

### Run the lcs.py model

	1- Inside of extracted directory run as follow:
		python lcs.py

NOTE:
	1- I have used the new line as a delimiter for sentence tokenization
	2- So that data.txt have to be preprocessed such that there is only 1 sentence per line.
	3- I tried doing it with "۔" delimiter but I was having len(sentence) inequelance issue.
	4- The output of the script will be shown on console, note that sentences are ZERO INDEXED in the output.

Thank You.